<ion-content [fullscreen]="true">
  <div class="auth-container">
    <ion-card class="auth-card">
      <ion-card-header class="auth-header">
        <ion-card-title class="brand-title">Create Password</ion-card-title>
        <p class="subtitle">Create a password to secure your new profile</p>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <ion-item lines="none" class="form-item">
            <ion-label position="stacked" class="form-label">Password</ion-label>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="At least 6 characters"
              class="custom-input"
            ></ion-input>
          </ion-item>

          <ion-item lines="none" class="form-item">
            <ion-label position="stacked" class="form-label">Confirm Password</ion-label>
            <ion-input
              formControlName="confirmPassword"
              type="password"
              placeholder="Repeat password"
              class="custom-input"
            ></ion-input>
          </ion-item>

          <ion-text
            color="danger"
            class="error-msg-text"
            *ngIf="
              passwordForm
                .get('confirmPassword')
                ?.hasError('passwordMismatch') &&
              passwordForm.get('confirmPassword')?.touched
            "
          >
            <p class="error-msg">Passwords do not match.</p>
          </ion-text>

          <ion-text color="danger" class="error-msg-text" *ngIf="errorMsg">
            <p class="error-msg">{{ errorMsg }}</p>
          </ion-text>

          <ion-button
            type="submit"
            expand="block"
            class="auth-btn"
            [disabled]="passwordForm.invalid || isLoading"
          >
            {{ isLoading ? "Saving..." : "Create Password & Continue" }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
